<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="at.fhj.ims.surprise"
    version="0.1">
    
    <name>SurprisePlugin</name>
    <description>Surprise yourself</description>
    <license>Apache 2.0</license>
    <keywords>cordova,surprise</keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/surprise.js" name="MyPlugin">
        <clobbers target="SurprisePlugin" />
    </js-module>
    

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SurprisePlugin">
                <param name="android-package" value="SurprisePlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/SurprisePlugin.java" target-dir="src/" />
    </platform>

</plugin>
